@import url(./view-transition.css);

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('@/bg-light.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[data-isHome='true'] body,
.dark body {
  background-image: url('@/EAF-home.png');
}

#app {
  position: relative;
  z-index: 20;
}

.VPDoc .image {
  display: block;
  margin: 0 auto;
}

#meteor-animation {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

#sakura-animation {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9d174d;
}

::-webkit-scrollbar-track {
  background-color: #334155;
}
