@import url(./view-transition.css);

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('@/bg-light.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[data-isHome='true'] body,
.dark body {
  background-image: url('@/EAF-home.png');
}

#app {
  position: relative;
  z-index: 20;
}

#meteor-animation {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.VPDoc .image {
  display: block;
  margin: 0 auto;
}
