:root {
  --EAF-c-h1: #cf206f;
  --EAF-c-title: #11b6a8;
  --EAF-c-outline-link: #a8b1ff;
  --EAF-gap: 32px;
  --EAF-radius: 10px;
  --EAF-card-backgroun-color: hsl(240 7% 11% / 0.8);
  --vp-c-text-1: #cfd8e0;
}

/* colors */
.VPNavBar .title {
  color: var(--EAF-c-title);
}

.vp-doc h1 {
  color: var(--EAF-c-h1);
}

.VPDocOutlineItem .outline-link:hover,
.VPDocOutlineItem .outline-link.active {
  color: var(--EAF-c-outline-link);
}

@media (width < 960px) {
  .VPContent .VPDoc {
    background-color: var(--EAF-card-backgroun-color);
  }
}

@media (width > 960px) {
  /* nav-bar */
  .VPNavBar .social-links {
    margin-right: 0;
  }

  .VPNavBar .content-body {
    padding-right: 32px;
  }

  .VPNavBarTitle .title {
    padding: 0 20px;
    border-bottom: none;
  }

  /* local-nav */
  .Layout .VPLocalNav.has-sidebar {
    padding: 0 32px 0 var(--vp-sidebar-width);
    background-color: transparent;
  }

  .VPLocalNav.has-sidebar .container {
    border-radius: 0 0 var(--EAF-radius) var(--EAF-radius);
    background-color: var(--vp-nav-bg-color);
  }

  /* side-bar */
  .Layout .VPSidebar {
    background-color: transparent;
  }

  .VPSidebar .curtain {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0 0 var(--EAF-radius) var(--EAF-radius);
  }

  .VPSidebar .nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: var(--EAF-gap);
    padding: 20px;
    border-radius: var(--EAF-radius);
    background-color: var(--EAF-card-backgroun-color);
  }

  .VPSidebar .nav .group {
    width: auto;
    border-top: 1px solid var(--vp-c-divider);
  }

  /* content */
  .VPContent .VPDoc {
    padding: var(--EAF-gap);
    padding-left: 0;
  }

  .VPContent .container {
    padding: 20px 0;
    border-radius: var(--EAF-radius);
    background-color: var(--EAF-card-backgroun-color);
  }
}

@media (width > 1280px) {
  .VPNavBar .content-body {
    border-radius: 0 0 var(--EAF-radius) var(--EAF-radius);
  }
}
