node_modules
dist

# Nuxt dev/build outputs
.nuxt
.nitro
.output

# Next dev/build outputs
.next
out
next-env.d.ts

# env files
.env
.env.*
!.env.config
!.env.example

caddy
.db
.drizzle
.site
.temp
.turbo
*.tsbuildinfo
