node_modules
dist

# Nuxt dev/build outputs
.nuxt
.nitro
.output

# Next dev/build outputs
.next
out
next-env.d.ts

# Local env files
.env
.env.*
!.env.example

.data
.temp
.turbo
*.log
*.local
*.tsbuildinfo
