/* biome-ignore-all lint/correctness/noUnknownTypeSelector: not supported */

body {
  background-image: url('/wallhaven-rrwvdq.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#loading-mask {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg 0% 0% / 0.8);
  z-index: 999;

  img {
    object-fit: contain;
  }
}

/**
 * ==================================================
 * 🏷️ layout view-transition
 * ==================================================
 */

html {
  view-transition-name: layout;
}

html::view-transition-new(layout),
html::view-transition-old(layout) {
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
}

html[data-motion='fade-in']::view-transition-new(layout) {
  animation-name: layout-fade-in;
}

html[data-motion='fade-in']::view-transition-old(layout) {
  animation-name: layout-fade-out;
  animation-delay: 400ms;
}

html[data-motion='fade-out']::view-transition-new(layout) {
  animation-name: layout-fade-out;
  animation-direction: reverse;
}

html[data-motion='fade-out']::view-transition-old(layout) {
  animation-name: layout-fade-in;
  animation-delay: 400ms;
  animation-direction: reverse;
}

@keyframes layout-fade-in {
  from {
    transform: translateY(-100%);
  }
}

@keyframes layout-fade-out {
  to {
    transform: translateY(100%);
  }
}
