/* biome-ignore-all lint/correctness/noUnknownTypeSelector: not supported */

#app {
  background-image: url('/wallhaven-rrwvdq.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html[data-layout='page'] #app {
  --m-opacity: 0;
  --opacity-to: 0.6;
  background-color: hsl(0 0 0 / var(--m-opacity));
  background-blend-mode: darken;
  animation: motion-opacity forwards;
  animation-duration: auto;
  animation-timeline: scroll(root block);
  animation-range-start: 400px;
}

@media screen and (width >= 800px) {
  #app {
    --moving-duration: 40s;
  }
}
@media screen and (width >= 1280px) {
  #app {
    --moving-duration: 20s;
  }
}
@media screen and (width >= 1600px) {
  #app {
    --moving-duration: 10s;
  }
}

@media screen and (width >= 800px) {
  /* html[data-layout='home'] #app {
    animation: moving linear infinite;
    animation-duration: var(--moving-duration);
  } */
}

@keyframes moving {
  0%,
  50% {
    background-position-x: 50%;
  }

  25% {
    background-position-x: 100%;
  }

  75% {
    background-position-x: 0%;
  }
}

#loading-mask {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg 0% 0% / 0.8);
  z-index: 999;

  img {
    object-fit: contain;
  }
}

/**
 * ==================================================
 * 🏷️ layout view-transition
 * ==================================================
 */
html {
  view-transition-name: layout;
}

html::view-transition-new(layout),
html::view-transition-old(layout) {
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
}

html[data-motion='ebb-in']::view-transition-new(layout) {
  --value-u-from: -100%;
  translate: 0 var(--m-value-u);
  animation-name: motion-value-u;
}

html[data-motion='ebb-in']::view-transition-old(layout) {
  --value-u-to: 100%;
  translate: 0 var(--m-value-u);
  animation-name: motion-value-u;
  animation-delay: 400ms;
}

html[data-motion='ebb-out']::view-transition-new(layout) {
  --value-u-from: 100%;
  translate: 0 var(--m-value-u);
  animation-name: motion-value-u;
}

html[data-motion='ebb-out']::view-transition-old(layout) {
  --value-u-to: -100%;
  translate: 0 var(--m-value-u);
  animation-name: motion-value-u;
  animation-delay: 400ms;
}

html[data-motion='flow-in']::view-transition-old(layout) {
  --opacity-from: 1;
  --opacity-to: 0;
  --value-u-from: 0%;
  --value-u-to: 100%;

  opacity: var(--m-opacity);
  mask-image: linear-gradient(#000), linear-gradient(#000);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: exclude;
  mask-size:
    100% 100%,
    var(--m-value-u) 100%;
  animation-name: motion-value-u, motion-opacity;
}

html[data-motion='flow-out']::view-transition-old(layout) {
  --opacity-from: 1;
  --opacity-to: 0.6;
  --value-u-from: max(50vw, 50vh);
  --value-u-to: 0;

  opacity: var(--m-opacity);
  clip-path: circle(var(--m-value-u) at 50% 50%);
  animation-name: motion-value-u, motion-opacity;
  z-index: 99;
}

/**
 * ==================================================
 * 🏷️ shiki
 * ==================================================
 */
html .shiki span {
  color: var(--shiki-default);
  font-style: var(--shiki-default-font-style);
  font-weight: var(--shiki-default-font-weight);
  text-decoration: var(--shiki-default-text-decoration);
}

html .light .shiki span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

html.light .shiki span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

html .default .shiki span {
  color: var(--shiki-default);
  font-style: var(--shiki-default-font-style);
  font-weight: var(--shiki-default-font-weight);
  text-decoration: var(--shiki-default-text-decoration);
}

html .dark .shiki span {
  color: var(--shiki-dark);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}

html.dark .shiki span {
  color: var(--shiki-dark);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}
