/* biome-ignore-all lint/correctness/noUnknownTypeSelector: not supported */

#app {
  background-image: url('/wallhaven-rrwvdq.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html[data-layout='page'] #app {
  --m-opacity: 0;
  --opacity-to: 0.6;
  background-color: hsl(0 0 0 / var(--m-opacity));
  background-blend-mode: darken;
  animation: motion-opacity forwards;
  animation-duration: auto;
  animation-timeline: scroll(root block);
  animation-range-start: 400px;
}

@media screen and (width >= 800px) {
  #app {
    --moving-duration: 40s;
  }
}
@media screen and (width >= 1280px) {
  #app {
    --moving-duration: 20s;
  }
}
@media screen and (width >= 1600px) {
  #app {
    --moving-duration: 10s;
  }
}

@media screen and (width >= 800px) {
  /* html[data-layout='home'] #app {
    animation: moving linear infinite;
    animation-duration: var(--moving-duration);
  } */
}

@keyframes moving {
  0%,
  50% {
    background-position-x: 50%;
  }

  25% {
    background-position-x: 100%;
  }

  75% {
    background-position-x: 0%;
  }
}

#loading-mask {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg 0% 0% / 0.8);
  z-index: 999;

  img {
    object-fit: contain;
  }
}

/**
 * ==================================================
 * 🏷️ layout view-transition
 * ==================================================
 */

html {
  view-transition-name: layout;
}

html::view-transition-new(layout),
html::view-transition-old(layout) {
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
}

html[data-motion='ebb-in']::view-transition-new(layout) {
  animation-name: ebb-in;
}

html[data-motion='ebb-in']::view-transition-old(layout) {
  animation-name: ebb-out;
  animation-delay: 400ms;
}

html[data-motion='ebb-out']::view-transition-new(layout) {
  animation-name: ebb-out;
  animation-direction: reverse;
}

html[data-motion='ebb-out']::view-transition-old(layout) {
  animation-name: ebb-in;
  animation-delay: 400ms;
  animation-direction: reverse;
}

/* html[data-motion='flow-in']::view-transition-old(layout) {

}

html[data-motion='flow-in']::view-transition-new(layout) {

} */

html[data-motion='flow-out']::view-transition-old(layout) {
  animation-name: flow-out;
}

html[data-motion='flow-out']::view-transition-new(layout) {
  opacity: var(--m-opacity);
  animation-name: motion-opacity;
}

@keyframes ebb-in {
  from {
    transform: translateY(-100%);
  }
}

@keyframes ebb-out {
  to {
    transform: translateY(100%);
  }
}

@keyframes flow-out {
  from {
    opacity: 1;
    clip-path: circle(max(50vw, 50vh) at 50% 50%);
  }
  to {
    opacity: 0;
    clip-path: circle(0 at 50% 50%);
  }
}
