@layer theme {
  :root {
    --body-background-image: url('@/EAF-home.png');

    --EAF-cover-padding: 200px 60px 64px;
    --EAF-cover-avatar-size: 160px;
    --EAF-cover-avatar-shadow--hover: 0 0 10px 0 #7b9ebb;
    --EAF-cover-name-color: transparent;
    --EAF-cover-tagline-color: transparent;
    --EAF-cover-avatar-background: linear-gradient(
      45deg,
      #00dc82,
      #36e4da,
      #0047e1
    );
    --EAF-cover-name-background: linear-gradient(135deg, #1c4c5f, #e3f6ff);
    --EAF-cover-tagline-background: linear-gradient(
        90deg,
        #1c4c5f 50%,
        #a8a8b6 80%,
        #e3f6ff
      )
      no-repeat;

    --EAF-z-index-tide: 10;
    --EAF-z-index-cover: 20;

    --EAF-animation-tagline: tidewater-fade-in 4s ease-out;
    --EAF-animation-entryButton: bounce 1.4s ease-in-out infinite;
    --EAF-animation-tidewater: tidewater-beat 4s ease-out 2 alternate;
    --EAF-animation-tidewater--before: tidewater-ripple 2s ease-out infinite
      alternate;
  }

  @media (width < 640px) {
    :root {
      --EAF-cover-padding: 120px 48px 60px;
    }
  }

  :root {
    --EAF-c-h1: #cf206f;
    --EAF-c-title: #11b6a8;
    --EAF-c-outline-link: #a8b1ff;
    --vp-c-text-1: #cfd8e0;
  }
}
