/**
 * ==================================================
 * sidebar
 * ==================================================
 */
.sidebar-group {
  padding-block: 12px;

  + .sidebar-group {
    border-top: 1px;
    border-color: var(--c-divider);
  }
}

.sidebar-item {
  display: flex;
  padding-block: 4px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  &[data-active='true'] span {
    color: var(--c-brand-2);
  }
}

.sidebar-item__button {
  display: flex;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &:hover span:last-child {
    color: var(--c-text-2);
  }

  &[aria-expanded='true'] svg {
    rotate: 90deg;
  }
}

/**
 * ==================================================
 * navbar
 * ==================================================
 */
.navbar-background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--c-bg-navbar);
  backdrop-filter: blur(10px);
  box-shadow:
    0 2px 10px 1px hsl(0 0% 67% / 0.1),
    inset 0 0 10px 4px hsl(0 0% 80% / 0.1),
    inset 0 0 50px 4px hsl(0 0% 60% / 0.1),
    inset -1px -1px 4px hsl(0 0% 100% / 0.1);
}

.nav-menu {
  --rounded: 999px;

  isolation: isolate;
  position: relative;
  border-radius: var(--rounded);
  box-shadow:
    0 1px 10px 0 hsl(214 93% 73% / 0.4),
    inset 0 0 40px 2px hsl(187 92% 69% / 0.1);
}

.menu-background {
  --bg-color: color-mix(in lch, var(--c-brand-1) 20%, transparent);

  position: absolute;
  inset: 0;
  z-index: -2;
  border-radius: var(--rounded);
  opacity: 0;
  transition: opacity ease-in 200ms;
  background: radial-gradient(
    100px circle at var(--offset-x) 50%,
    var(--bg-color),
    transparent 65%
  );
}

.nav-menu:hover .menu-background {
  opacity: 1;
}

.menu-viewport {
  contain: layout;
  isolation: isolate;
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% 0;
  min-width: 100%;
  padding-top: 10px;
}

.menu-viewport__arrow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  color: hsl(0 0% 26%);
  background: linear-gradient(45deg, transparent 50%, currentColor 50%);
  rotate: -45deg;
  translate: 0 50%;
  transition: translate 250ms ease;
}

.menu-viewport__overlay {
  position: relative;
  border-radius: 16px;
  background-color: var(--c-bg-overlay);
  backdrop-filter: blur(10px);
  overflow: hidden;
  box-shadow:
    0 2px 10px 1px hsl(0 0% 67% / 0.1),
    inset 0 0 10px 4px hsl(0 0% 80% / 0.1),
    inset 0 0 50px 4px hsl(0 0% 60% / 0.1),
    inset -1px -1px 4px hsl(0 0% 100% / 0.1);
}

.menu-content {
  position: absolute;
  inset: 0;
  z-index: -1;
  animation-duration: 600ms;
  animation-timing-function: ease;

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu-content[data-active='true'] {
  position: relative;
  z-index: 20;
}

.menu-content[data-motion='from-start'] {
  animation-name: enter-from-start;
}
.menu-content[data-motion='from-end'] {
  animation-name: enter-from-end;
}
.menu-content[data-motion='to-start'] {
  animation-name: exit-to-start;
}
.menu-content[data-motion='to-end'] {
  animation-name: exit-to-end;
}

/**
 * ==================================================
 * layout-doc
 * ==================================================
 */
.layout-doc {
  display: grid;
  grid-template-columns: 1fr;
}

.doc-content {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 32px;
  background-color: var(--c-bg-content);
}

@media (width >= 960px) {
  .layout-doc {
    padding: 24px;
  }

  .doc-content {
    border-radius: 20px;
    padding-inline: 0;
  }
}

@media (width >= 1280px) {
  .layout-doc {
    grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
  }

  .doc-content {
    grid-column: 2 / 3;
  }
}

.doc-aside {
  position: fixed;
  top: 0;
  width: 224px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--navbar-height) + 56px);
  padding-bottom: 56px;
}

.aside-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden auto;
  scrollbar-width: none;
}

.outline-item {
  padding: 0 calc(var(--level, 0) * 16px);
  font-size: 14px;
  line-height: 32px;
  color: var(--c-text-2);
  overflow: hidden;

  &:is(:hover, .is-active) {
    color: var(--c-brand-3);
  }
}

.outline-marker {
  position: absolute;
  top: 0;
  left: -1px;
  width: 2px;
  height: 20px;
  background-color: var(--c-brand-3);
  transform-origin: center;
  transition: translate 100ms linear;
}
