@import url('./vars.css');
@import url('./motion.css');

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 39%) hsl(0 0% 17%);
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: hsl(0 0% 17%);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsl(0 0% 39%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}

iconify-icon {
  display: inline flex;
  width: 1em;
  height: 1em;
}
