@import url('./vars.css');
@import url('./motion.css');
@import url('./component.css');
@import url('./markdown.css');

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 39%) hsl(0 0% 17%);
  color-scheme: dark;
}

body {
  min-height: 100vh;
  font-family: var(--font-family-base);
  color: var(--foreground);
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: hsl(0 0% 17%);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsl(0 0% 39%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}

iconify-icon {
  display: inline flex;
  width: 1em;
  height: 1em;
}

.mask {
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}

.mask-squircle {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"> <path d="M 0,50 C 0,10 10,0 50,0 C 90,0 100,10 100,50 C 100,90 90,100 50,100 C 10,100 0,90 0,50" /></svg>');
}

.motion-image {
  transition: opacity 200ms ease-in;
}

.motion-image[data-hidden='true'] {
  opacity: 0;
}

@supports (animation-timeline: view(block)) {
  .motion-image {
    animation: motion-image auto ease-in-out;
    animation-timeline: view(block);
    animation-range: entry 0% cover 40%;
  }
}
