@property --m-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #fff;
}

@keyframes breathing {
  0%,
  100% {
    opacity: 0.4;
    scale: 1;
  }
  50% {
    opacity: 1;
    scale: 1.2;
  }
}

@keyframes title-tide {
  0%,
  100% {
    background-position: 100% -100%;
  }
  50% {
    background-position: 100% 0%;
  }
}

@keyframes title-fade {
  from {
    clip-path: circle(0 at center);
  }
  to {
    clip-path: circle(120px at center);
  }
}

@keyframes tidewater {
  0%,
  10% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.6);
  }

  90%,
  100% {
    transform: scale(0);
  }
}

@keyframes flowing-light {
  to {
    rotate: var(--angle-to);
  }
}

@keyframes enter-from-start {
  from {
    opacity: 0.6;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enter-from-end {
  from {
    opacity: 0.6;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit-to-start {
  from {
    opacity: 0.4;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes exit-to-end {
  from {
    opacity: 0.4;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes cross-fade-enter {
  from {
    opacity: 0;
    clip-path: inset(50% round 100px);
  }
  to {
    opacity: 1;
    clip-path: inset(-40px round 100px);
  }
}

@keyframes cross-fade-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes cube-rotate {
  to {
    transform: rotate3d(0, 1, 0, -1turn);
  }
}
