@layer theme, theme-dark;

@layer theme-dark {
  .dark {
    --foreground: #fff;
    --background: #000;

    --c-brand: #c9384d;

    /**
     * Colors: Text
     *
     * - `text-1`: Used for primary text.
     *
     * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
     *
     * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
     * --------------------------------------------------------------------------
     */
    --c-text-1: #dfdfd6;
    --c-text-2: #98989f;
    --c-text-3: #6a6a71;

    --nav-bg-color: hsl(0 0% 20% / 0.1);
    --content-bg-color: hsl(240 16% 10% / 0.8);
    --sidebar-bg-color: hsl(0 0% 0% / 0.9);
    --sidebar-mask-bg-color: hsl(0 0% 0% / 0.4);
  }
}

@layer theme {
  :root {
    --foreground: #fff;
    --background: #000;

    --c-text-1: #3c3c43;
    --c-text-2: #67676c;
    --c-text-3: #929295;
  }
}

@layer layout {
  :root {
    --nav-height: 64px;

    --z-index-nav: 30;
    --z-index-sidebar: 40;
  }
}
