/* biome-ignore-all lint/correctness/noUnknownTypeSelector: not supported */

html {
  view-transition-name: layout;
}

::view-transition-group(layout) {
  --transition-duration: 2s;
}

html[data-home='exit']::view-transition-old(layout) {
  animation: slide-down var(--transition-duration) ease reverse;
}

html[data-home='exit']::view-transition-new(layout) {
  animation: slide-up var(--transition-duration) ease;
}

html[data-home='enter']::view-transition-old(layout) {
  animation: slide-up var(--transition-duration) ease reverse;
}

html[data-home='enter']::view-transition-new(layout) {
  animation: slide-down var(--transition-duration) ease;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
