/* biome-ignore-all lint/correctness/noUnknownTypeSelector: not supported */

html {
  view-transition-name: layout;
}

body {
  background-image: url('@/bg-light.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[data-isHome='true'] body,
.dark body {
  background-image: url('@/EAF-home.png');
}

::view-transition-group(layout) {
  --transition-duration: 2s;
}

html[data-slide='exit']::view-transition-old(layout) {
  animation: slide-down var(--transition-duration) ease reverse;
}

html[data-slide='exit']::view-transition-new(layout) {
  animation: slide-up var(--transition-duration) ease;
}

html[data-slide='enter']::view-transition-old(layout) {
  animation: slide-up var(--transition-duration) ease reverse;
}

html[data-slide='enter']::view-transition-new(layout) {
  animation: slide-down var(--transition-duration) ease;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

/*  Toggole Appearance View Transition */
::view-transition-old(appearance),
::view-transition-new(appearance) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(appearance),
.dark::view-transition-new(appearance) {
  z-index: 1;
}

::view-transition-new(appearance),
.dark::view-transition-old(appearance) {
  z-index: 9999;
}
