.site-title {
  display: inline-flex;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 10px;
  color: transparent;
  background-image: linear-gradient(135deg, #12998d, #d5e6ff);
  background-size: cover;
  background-clip: text;
}

.site-title[data-animating='true'] {
  --value-u-to: 120px;
  clip-path: circle(var(--m-value-u) at center);
  animation: motion-value-u 2s ease-out;
}

.tagline {
  --m-color: #b9e4f8;
  font-weight: 600;
  line-height: 2;
  color: var(--m-color);
}

.tagline[data-motion='fade'] {
  --m-color: #12998d;
  color: transparent;
  background: linear-gradient(to right, var(--m-color) 10%, #b9e4f8);
  background-clip: text;
  transition: --m-color 600ms ease-out;
}

.entry-button {
  --value-u-to: -25%;
  position: absolute;
  z-index: -1;
  translate: 0 var(--m-value-u);
  transition: transform 400ms ease-out;
  animation: motion-value-u 1s linear infinite alternate;
}

.entry-background {
  position: absolute;
  inset: 10px;
  z-index: -1;
  border-radius: 999px;
  box-shadow: 0 0 16px 2px #12998d;
  opacity: var(--m-opacity);
  animation: motion-opacity 2s infinite alternate;
}

.cube-motion:hover {
  .cube-face {
    --m-value-u: 100px;
  }

  .cube-face[data-state='top'] {
    opacity: 0;
  }

  .entry-button {
    animation-play-state: paused;
    transform: translateY(-90px);
  }

  svg {
    rotate: y var(--m-angle);
    animation: motion-angle 2s linear infinite;
  }
}

.tidewater {
  --value-to: 1.6;
  width: 100vw;
  height: 50vh;
  background: radial-gradient(
    circle,
    hsl(183 30% 75% / 0.1) 20%,
    transparent 80%
  );
  transform-origin: bottom center;
  scale: 1 var(--m-value);
  animation: motion-value 3s infinite alternate;
  animation-timing-function: cubic-bezier(0.4, -0.4, 0.36, 1);
}
